.navbar-toggler{
  background: #ffffffde;
}

.logo-navbar {
  width: auto; /* Establece el ancho automático basado en el tamaño original */
  max-height: 70px; /* Define la altura máxima deseada */
}

.card {
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out; /* Agrega transición para el cambio de sombra */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombras inicial */
}

/* Efecto de escala y sombra cuando el mouse está sobre la carta */
.card:hover {
  transform: scale(1.05); /* Cambia el tamaño de la carta al 105% del tamaño original */
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Sombras al hacer hover */
}

#mainHeader {
  background-color: rgba(0, 0, 0, 0.5);
  transition: background-color 0.3s ease;
}

#mainHeader .navbar {
  transition: opacity 1s ease-in-out; /* Aumenta la duración de la transición */
  opacity: 0.75;
}

/* Clases de opacidad */
.opacity-75 {
  opacity: 0.75 !important;
}

.opacity-50 {
  opacity: 0.5 !important;
}

/* Estilo del header cuando se hace scroll */
#mainHeader.scrolled {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Ajustes adicionales */
.navbar-brand, .nav-link {
  color: white;
}

.navbar-toggler-icon {
  filter: invert(1);
}
body {
  padding-top: 60px;
}


.no-top-rounded {
  border-top-left-radius: 0 !important;
  border-top-right-radius: 0 !important;
}

.card:hover{
  box-shadow: 0 1rem 3rem rgba(black, .175) !important;
}



/* Agregar este CSS en tu archivo de estilos principal */
/* .btn-primary {
  background-color: #007bff;
  border-color: #007bff;
  transition: background-color 0.3s ease-in-out, border-color 0.3s ease-in-out;
}

.btn-primary:hover {
  background-color: #0056b3;
  border-color: #0056b3;
}

.btn-primary:focus {
  box-shadow: 0 0 10px rgba(0, 123, 255, 0.5);
  outline: none;
} */



#carouselEventos{
  height: 75vh ;
  border: 1px solid red;

}

.imgCarousel img{
  object-fit: contain;
}


.carousel-item img {
  /* min-height: 750px; */
  max-height: 750px;
  filter: brightness(50%);
  object-fit: cover;
}

.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
  }

  @media (min-width: 768px) {
    .bd-placeholder-img-lg {
      font-size: 3.5rem;
    }
  }

  .b-example-divider {
    width: 100%;
    height: 3rem;
    background-color: rgba(0, 0, 0, .1);
    border: solid rgba(0, 0, 0, .15);
    border-width: 1px 0;
    box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
  }

  .b-example-vr {
    flex-shrink: 0;
    width: 1.5rem;
    height: 100vh;
  }

  .bi {
    vertical-align: -.125em;
    fill: currentColor;
  }

  .nav-scroller {
    position: relative;
    z-index: 2;
    height: 2.75rem;
    overflow-y: hidden;
  }

  .nav-scroller .nav {
    display: flex;
    flex-wrap: nowrap;
    padding-bottom: 1rem;
    margin-top: -1px;
    overflow-x: auto;
    text-align: center;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
  }

  .btn-bd-primary {
    --bd-violet-bg: #712cf9;
    --bd-violet-rgb: 112.520718, 44.062154, 249.437846;

    --bs-btn-font-weight: 600;
    --bs-btn-color: var(--bs-white);
    --bs-btn-bg: var(--bd-violet-bg);
    --bs-btn-border-color: var(--bd-violet-bg);
    --bs-btn-hover-color: var(--bs-white);
    --bs-btn-hover-bg: #6528e0;
    --bs-btn-hover-border-color: #6528e0;
    --bs-btn-focus-shadow-rgb: var(--bd-violet-rgb);
    --bs-btn-active-color: var(--bs-btn-hover-color);
    --bs-btn-active-bg: #5a23c8;
    --bs-btn-active-border-color: #5a23c8;
  }

  .bd-mode-toggle {
    z-index: 1500;
  }

  .bd-mode-toggle .dropdown-menu .active .bi {
    display: block !important;
  }