<div class="contaider-fluid p-0 m-0">
    <header id="mainHeader" class="fixed-top">
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container-fluid">
                <!-- Agregar la imagen de la página -->
                <a class="navbar-brand" href="#">
                    <img src="../../../assets/alpogo-media-kit/logo-alpogo-negativo-blanco.png" alt="Logo de Mi Página"
                        class="d-inline-block align-top logo-navbar" loading="lazy">
                </a>
                <!-- Botón del navbar-toggler para dispositivos móviles -->
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <!-- Contenido del navbar -->
                <div class="collapse navbar-collapse" id="navbarNav">
                    <div class="d-flex ms-auto">
                        <form class="d-flex me-auto">
                            <input class="form-control me-2" type="search" placeholder="Buscar" aria-label="Buscar">
                            <button class="btn btn-outline-light" type="submit"><i class="bi bi-search"></i></button>
                        </form>
                        <div class="ms-3">
                            <button class="btn btn-outline-light me-2">Iniciar Sesión</button>
                            <button class="btn btn-outline-light">Registrar</button>
                        </div>
                    </div>
                </div>
            </div>
        </nav>
    </header>


    <!-- <header id="mainHeader" class="fixed-top">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">Mi Página</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Features</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Pricing</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header> -->

    <main>
        <!-- Carousel -->
        <div id="myCarousel" class="carousel slide mb-6" data-bs-ride="carousel">
            <div class="carousel-inner">
                <!-- Carousel items -->
                <!-- <div class="carousel-item active">
                <img src="../../../assets/DestacadosWeb/cecilia-ce.webp" class="d-block w-100"
                alt="Descripción de la imagen"
                style="border-bottom-left-radius: 100px; border-bottom-right-radius: 100px;">
                <div class="container">
                    <div class="carousel-caption text-start">
                        <h1>Example headline.</h1>
                        <p class="opacity-75">Some representative placeholder content for the first slide of the
                            carousel.</p>
                        <p><a class="btn btn-lg btn-primary" href="#">Sign up today</a></p>
                    </div>
                </div>
            </div>
            <div class="carousel-item ">
                <img src="../../../assets/DestacadosWeb/division-bell-studio.jpeg" class="d-block w-100"
                    alt="Descripción de la imagen"
                    style="border-bottom-left-radius: 100px; border-bottom-right-radius: 100px;">
                <div class="container">
                    <div class="carousel-caption text-start">
                        <h1>Example headline.</h1>
                        <p class="opacity-75">Some representative placeholder content for the first slide of the
                            carousel.</p>
                        <p><a class="btn btn-lg btn-primary" href="#">Sign up today</a></p>
                    </div>
                </div>
            </div>
            <div class="carousel-item ">
                <img src="../../../assets/DestacadosWeb/el-plan-de-la-mariposa.webp" class="d-block w-100"
                    alt="Descripción de la imagen"
                    style="border-bottom-left-radius: 100px; border-bottom-right-radius: 100px;">
                <div class="container">
                    <div class="carousel-caption text-start">
                        <h1>Example headline.</h1>
                        <p class="opacity-75">Some representative placeholder content for the first slide of the
                            carousel.</p>
                        <p><a class="btn btn-lg btn-primary" href="#">Sign up today</a></p>
                    </div>
                </div>
            </div> -->
                <div class="carousel-item active">
                    <img src="../../../assets/DestacadosWeb/cecilia-ce.webp" class="d-block w-100"
                        alt="Descripción de la imagen"
                        style="border-bottom-left-radius: 100px; border-bottom-right-radius: 100px;">
                    <div class="carousel-caption text-start">
                        <div class="container">
                            <h1 class="display-5 display-md-4 display-lg-3">Evento Promocional 1</h1>
                            <p class="lead opacity-75 d-none d-md-block">Evento </p>
                            <p><a class="btn btn-primary btn-lg" href="#">Sign up today</a></p>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <img src="../../../assets/DestacadosWeb/division-bell-studio.jpeg" class="d-block w-100"
                        alt="Descripción de la imagen"
                        style="border-bottom-left-radius: 100px; border-bottom-right-radius: 100px;">
                    <div class="carousel-caption text-start">
                        <div class="container">
                            <h1 class="display-5 display-md-4 display-lg-3">Evento Promocional 2</h1>
                            <p class="lead opacity-75 d-none d-md-block">Some representative placeholder content for the
                                first slide of the
                                carousel.</p>
                            <p><a class="btn btn-primary btn-lg" href="#">Sign up today</a></p>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <img src="../../../assets/DestacadosWeb/el-plan-de-la-mariposa.webp" class="d-block w-100"
                        alt="Descripción de la imagen"
                        style="border-bottom-left-radius: 100px; border-bottom-right-radius: 100px;">
                    <div class="carousel-caption text-start">
                        <div class="container">
                            <h1 class="display-5 display-md-4 display-lg-3">Evento Promocional 3</h1>
                            <p class="lead opacity-75 d-none d-md-block">Some representative placeholder content for the
                                first slide of the
                                carousel.</p>
                            <p><a class="btn btn-primary btn-lg" href="#">Sign up today</a></p>
                        </div>
                    </div>
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>

        <!-- Filtros -->

        <div class="container p-3 mt-3 text-bg-dark rounded-2">
            <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
                <h5 class="text-white me-3">Filtros:</h5>
                <div class="btn-group me-2 flex-wrap" role="group" aria-label="Filtros">
                    <button type="button" class="btn btn-outline-light m-1" (click)="obtenerTodosEventos()">Mostrar
                        Todos</button>
                    <button type="button" class="btn btn-outline-light m-1" (click)="toggleTipoEvento()">Tipo de
                        Evento</button>
                    <button type="button" class="btn btn-outline-light m-1 "
                        (click)="toggleCiudadEvento()">Ciudad</button>

                    <button type="button" class="btn btn-outline-light m-1" (click)="toggleFechaEvento()">Fecha</button>
                </div>
            </div>

            <!-- Opciones de Tipo de Evento -->
            <div *ngIf="mostrarTipoEvento" class="container mt-3">
                <div class="row justify-content-center">
                    <div *ngFor="let tipo of tiposEvento" class="col-12 col-sm-6 col-md-4 col-lg-3 mb-2">
                        <button type="button" class="btn btn-outline-light w-100" (click)="filtrarPorTipo(tipo)">{{ tipo
                            }}</button>
                    </div>
                </div>
            </div>

            <!-- Opciones de Ciudad -->
            <div *ngIf="mostrarCiudadEvento" class="container mt-3">
                <div class="row justify-content-center">
                    <div *ngFor="let ciudad of ciudades" class="col-12 col-sm-6 col-md-4 col-lg-3 mb-2">
                        <button type="button" class="btn btn-outline-light w-100" (click)="filtrarPorCiudad(ciudad)">{{
                            ciudad }}</button>
                    </div>
                </div>
            </div>



            <!-- Opciones de filtro por fecha -->
            <div *ngIf="mostrarFechaEvento" class="container mt-3">
                <!-- Opción para fecha específica -->
                <div class="form-group">
                    <label for="fechaEspecifica">Fecha Específica:</label>
                    <input type="date" class="form-control" id="fechaEspecifica" [(ngModel)]="fechaEspecifica">
                </div>

                <!-- Opción para rango de fechas -->
                <div class="form-group">
                    <label for="fechaInicio">Desde:</label>
                    <input type="date" class="form-control" id="fechaInicio" [(ngModel)]="fechaInicio">
                </div>
                <div class="form-group">
                    <label for="fechaFin">Hasta:</label>
                    <input type="date" class="form-control" id="fechaFin" [(ngModel)]="fechaFin">
                </div>
                <div class="form-group">
                    <div class="d-flex justify-content-center mb-3">
                        <button type="button" class="btn btn-outline-light mt-3 align-items-center"
                            (click)="aplicarFiltroPorFecha()">Aplicar
                            Filtro Fecha</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- Tarjetas de Eventos -->
        <div class="album py-5 bg-body-tertiary">
            <div class="container animate__animated animate__fadeInDown animate__slower">
                <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                    <div class="col" *ngFor="let evento of eventos | slice:0:eventosMostrados">
                        <div class="card h-100 shadow-sm rounded-5">
                            <img src="{{ evento.imagen_logo }}" class="card-img-top rounded-5 border"
                                alt="{{ evento.nombre }}">
                            <div class="card-body d-flex flex-column">
                                <h5 class="card-title">{{ evento.nombre }}</h5>
                                <p class="card-text"><strong>Lugar:</strong>{{ evento.lugar }}</p>
                                <p class="card-text"><strong>Fecha y Hora:</strong> {{ evento.inicio_funcion |
                                    date:'longDate' }}</p>
                                <p class="card-text"><strong>Restricción:</strong>: {{ evento.restriccion}}</p>
                                <p class="card-text"><strong>Estado:</strong>: {{ evento.estado}}</p>

                            </div>
                            <div class="card-footer  d-flex p-0">
                                <button type="button"
                                    class="btn btn-success flex-grow-1 rounded-bottom-5 no-top-rounded"
                                    (click)="comprarEntrada()">
                                    Compra desde {{evento.menor_precio}}
                                </button>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Botón "Mostrar más" con estilos mejorados -->
        <div class="container text-center mb-5" *ngIf="hayMasEventosPorMostrar()">
            <!-- <button class="btn btn-dark btn-lg shadow-lg rounded-pill animate__animated animate__pulse animate__infinite"
            (click)="mostrarMasEventos()">
            Mostrar más
        </button> -->
            <button
                class="btn btn-dark btn-lg shadow-lg rounded-pill animate__animated animate__pulse animate__infinite"
                (click)="mostrarMasEventos()">
                Mostrar más
            </button>
        </div>

    </main>


    <footer class="text-body-secondary py-5 bg-dark text-light rounded-5 rounded-bottom-0">
        <div class="container">
            <div class="row align-items-center">
                <!-- Primera columna: Logo de la página -->
                <div class="col-md-4 text-center">
                    <img src="../../../assets/alpogo-media-kit/logo-alpogo-negativo-blanco.png" alt="Logo de la Página"
                        class="imgFooter mb-3" width="100%">
                </div>
                <!-- Segunda columna: Botones de redes sociales -->
                <div class="col-md-4 text-center">
                    <div class="mb-3">
                        <a href="#" class="d-block mb-3"><i class="bi bi-facebook fs-3 text-light"></i></a>
                        <a href="#" class="d-block mb-3"><i class="bi bi-instagram fs-3 text-light"></i></a>
                        <a href="#" class="d-block"><i class="bi bi-twitter fs-3 text-light"></i></a>
                    </div>
                </div>
                <div class="col-md-4 text-center">
                    <div class="mb-3">
                        <a href="#" class="btn btn-outline-light btn-lg animate__animated animate__fadeIn">
                            <i class="fas fa-arrow-up me-1 animate__animated animate__bounce animate__infinite"></i>
                            Volver
                            Arriba
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <script src="../assets/dist/js/bootstrap.bundle.min.js"></script>
</div>